<div class="p-2 border-start border-4 mb-4">
  <p><%=params[:question]%></p>
  <p class="m-0"> <em>- You</em></p>
</div>
<div class="p-2 border-start border-4 mb-4">
  <p><%= @answer%></p>
  <p class="m-0"><em>- Coach</em></p>
</div>

<%= link_to "Ask new question", ask_path %>
