<form action="/answer" method="get" data-turbo="false">
  <p class="mb-4">Ask your coach anything</p>
    <div class="d-flex col-6">
      <input type="text" name="question" class="form-control" placeholder="What's your question">
      <button type="submit" class="btn btn-primary col-2" value="Ask!">Ask</button>
    </div>
</form>
